---
layout: base.njk
---
<article class="post">
  <a href="/blog/" class="blog-back">← Blog</a>
  <header>
    <h1 class="post-title">{{ title }}</h1>
    <time class="post-date" datetime="{{ date | isoDate }}">{{ date | readableDate }}</time>
  </header>
  <div class="post-body">
    {{ content | safe }}
  </div>
</article>
